.hero-image {
  margin-top: 80px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: black;
  width: 50%;
  height:300px;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  alignment: center;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
.login-logo{
  font-family:"Bradley Hand ITC";
  font-size: 38px;
}
