<!--<div class="first-nav">-->
  <!--<div id="header-top-second"  class="clearfix">-->
    <!--<div class="header-top-dropdown text-right">-->
      <!--<div class="btn-group">-->
        <!--<a routerLink="/sign-up" href="#" class="btn btn-default btn-sm"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp; Sign Up</a>-->
      <!--</div>-->
      <!--<div class="btn-group">-->
        <!--<a routerLink="/login" href="#" class="btn btn-default btn-sm"><i class="fa fa-user">&nbsp;&nbsp;&nbsp; Log In</i></a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="third-nav">-->
    <!--<div class="header-top-dropdown text-right">-->
      <!--<div class="btn-group">-->
        <!--<a routerLink="/main/gallery" href="#" class="btn btn-default btn-sm">Gallery</a>-->
        <!--<a routerLink="/main/contact" href="#" class="btn btn-default btn-sm">Contact</a>-->
        <!--&lt;!&ndash;<a routerLink="/main/uploadImage" href="#" class="btn btn-default btn-sm">uploadImage</a>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="second-nav">
  <div class="navBar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="assets\images\logo.jpg" width="150px" height="100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="collapse navbar-collapse " id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link " href="#" style="font-size: 24px; font-family:'Bodoni MT'"><i class="fa fa-fw fa-home"></i>Home </a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link" href="#" style="font-size: 24px; font-family:'Bodoni MT'">Men</a>
              <div class="dropdown-content">
                <div class="first">
                  <table>
                    <tr>
                      <th><p style="color: darkmagenta; font-size:16px;">Topwear</p></th>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">T-Shirts</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Casual Shirts</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Formal Shirts</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Sweaters</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Jackets</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Blazers</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Suites</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Clothing Fabric</a></td>
                    </tr>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 16px;">Bottomwear</p></th>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Jeans</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Casual Trousers</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Formal Trousers</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Shorts</a></td>
                    </tr>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 16px;">Sports & Active Wear</p></th>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Active T-Shirts</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Sports Accessories</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Sports Equipments</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Sports Shoes</a></td>
                    </tr>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 16px;">Footwear</p></th>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Casual Shoes</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Sports Shoes</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Formal Shoes</a></td>
                      <td><a routerLink="/sign-up" routerLinkAcive="active" href="#">Sandals & Floaters</a></td>
                    </tr>

                  </table>
                </div>

              </div>
            </div>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link" href="#" style="font-size: 24px; font-family:'Bodoni MT'">Women</a>
              <div class="dropdown-content">
                <div class="first">
                  <table>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 20px;">Indian & Fusion wear</p></th>
                      <td><a routerLink="/sign-up" href="#">Kurtas & Suits</a></td>
                      <td><a routerLink="/sign-up" href="#">Leggings</a></td>
                      <td><a routerLink="/sign-up" href="#">Sarees</a></td>
                      <td><a routerLink="/sign-up" href="#">Lehenga Choli</a></td>
                      <td><a routerLink="/sign-up" href="#">Salwars</a></td>
                    </tr>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 20px;">Western Wear</p></th>
                      <td><a routerLink="/sign-up" href="#">Jeans & Jeggings</a></td>
                      <td><a routerLink="/sign-up" href="#">Trousers</a></td>
                      <td><a routerLink="/sign-up" href="#">Tops & T-Shirts </a></td>
                      <td><a routerLink="/sign-up" href="#">Shorts & Skirts</a></td>
                      <td><a routerLink="/sign-up" href="#">Frocks</a></td>
                    </tr>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 20px;">Sports & Active Wear</p></th>
                      <td><a routerLink="/sign-up" href="#">Clothing</a></td>
                      <td><a routerLink="/sign-up" href="#">Sports Accessories</a></td>
                      <td><a routerLink="/sign-up" href="#">Sports Equipments</a></td>
                      <td><a routerLink="/sign-up" href="#">Sports Shoes</a></td>
                    </tr>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 20px;">Footwear</p></th>
                      <td><a routerLink="/sign-up" href="#">Flats & Casual Shoes</a></td>
                      <td><a routerLink="/sign-up" href="#">Heels</a></td>
                      <td><a routerLink="/sign-up" href="#">Boots</a></td>
                      <td><a routerLink="/sign-up" href="#">Sports Shoes</a></td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link" href="#" style="font-size: 24px; font-family:'Bodoni MT'">Kids</a>
              <div class="dropdown-content">
                <div class="first">
                  <table>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 20px;">boys Clothing</p></th>
                      <td><a routerLink="/sign-up" href="#">T-Shirts</a></td>
                      <td><a routerLink="/sign-up" href="#">Shirts</a></td>
                      <td><a routerLink="/sign-up" href="#">Jeans</a></td>
                      <td><a routerLink="/sign-up" href="#">Sweaters</a></td>
                      <td><a routerLink="/sign-up" href="#">Jackets</a></td>
                      <td><a routerLink="/sign-up" href="#">Trousers</a></td>
                      <td><a routerLink="/sign-up" href="#">Suites</a></td>
                    </tr>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 20px;">Girls Clothing</p></th>
                      <td><a routerLink="/sign-up" href="#">Dresses</a></td>
                      <td><a routerLink="/sign-up" href="#">Trousers</a></td>
                      <td><a routerLink="/sign-up" href="#">Tops</a></td>
                      <td><a routerLink="/sign-up" href="#">Shorts & T-Shirts</a></td>
                      <td><a routerLink="/sign-up" href="#">Clothing Sets</a></td>
                    </tr>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 20px;">Boys FootWear</p></th>
                      <td><a routerLink="/sign-up" href="#">Casual Shoes</a></td>
                      <td><a routerLink="/sign-up" href="#">Sports Shoes</a></td>
                      <td><a routerLink="/sign-up" href="#">Sandals</a></td>
                    </tr>
                    <tr>
                      <th><p style="color: darkmagenta; font-size: 20px;">Girls Footwear</p></th>
                      <td><a routerLink="/sign-up" href="#">Casual Shoes</a></td>
                      <td><a routerLink="/sign-up" href="#">Flats</a></td>
                      <td><a routerLink="/sign-up" href="#">Heels</a></td>
                      <td><a routerLink="/sign-up" href="#">Sandals</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link" href="#" style="font-size: 24px; font-family:'Bodoni MT'">Watches & Others</a>
              <div class="dropdown-content">
                <div class="first">
                  <table>
                    <tr>
                      <td><p  style="color: darkmagenta; font-size: 20px;"><a routerLink="/sign-up" href="#">Watches</a></p></td>
                    </tr>
                    <tr>
                      <td><p style="color: darkmagenta; font-size: 20px;"><a routerLink="/sign-up" href="#">Wallets</a></p></td>
                    </tr>
                    <tr>
                      <td><p style="color: darkmagenta; font-size: 20px;"><a routerLink="/sign-up" href="#">Belts</a></p></td>
                    </tr>
                    <tr>
                      <td><p style="color: darkmagenta; font-size: 20px;"><a routerLink="/sign-up" href="#">Rings</a></p></td>
                    </tr>
                     <tr>
                       <td><p style="color: darkmagenta; font-size: 20px;"><a routerLink="/sign-up" href="#">Braceletes</a></p></td>
                    </tr>
                    <tr>
                      <td><p style="color: darkmagenta; font-size: 20px;"><a routerLink="/sign-up" href="#">Necklaces</a></p></td>
                    </tr>
                    <tr>
                      <td><p style="color: darkmagenta; font-size: 20px;"><a routerLink="/sign-up" href="#">Earnings</a></p></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!--content goes herer-->
<router-outlet></router-outlet>

    <!--footer-->
    <div class="row" style="background-color: white">
      <div style="max-width: 20rem; color: black">
        <div class="card-header" style="font-family: 'Bodoni MT Black'; font-size: 25px">Cotton Collection</div>
        <div class="card-body">
          <p class="card-text">We have all planned our trips to the clothing store in advance, vividly dreaming about what we
            would buy once there. Some of us even have sales assistants for friends and have often asked them for a favour or two
            during peak shopping season (read: festivals and sales). But what we can all admit to is that we have always wished
            it was easier than to go down to the store in dense traffic, navigating through throngs of fashionistas, all vying
            for the same trendy clothing items, waiting in line to try on our top picks in the trial rooms, etc. </p>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="max-width: 20rem; color: black">
        <div class="card-header" style="font-family: 'Bodoni MT Black'; font-size: 25px">Latest From Blog</div>
        <div class="card-body">
          <p class="card-text">Whether it is clothing, footwear, jewelry, accessories and cosmetics, we showcase the most elite
            brands in the world. Tommy Hilfiger, Forever 21, Vero Moda, FabAlley, All About You by Deepika Padukone, Adidas,
            Puma, Reebok, Burberry, French Connection, Calvin Klein, HRX by Hrithik Roshan, Arrow, United Colors of Benetton,
            Esprit, Bombay Dyeing, Forest Essentials, L’Oréal Paris, M.A.C, Bobbi Brown, and thousands of other national
            and international, budget-friendly as well as luxury brands await you with products that you just cannot turn down.</p>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="max-width: 20rem; color: black">
        <div class="card-header" style="font-family: 'Bodoni MT Black'; font-size: 25px">Latest Fashion</div>
        <div class="card-body">
          <div class="row">
            <div class="card-body">
              <img src="assets/images/gallery/frocks/im1.jpg" width="100px" height="100px">
            </div>
            <div class="card-body">
              <img src="assets/images/gallery/trousers/img4.jpg" width="100px" height="100px">
            </div>
            <div class="card-body">
              <img src="assets/images/gallery/img3.jpg" width="100px" height="100px">
            </div>
            <div class="card-body">
              <img src="assets/images/gallery/img4.jpg" width="100px" height="100px">
            </div>
          </div>
          <a routerLink="/main/gallery" routerLinkAcive="active" href="#">More</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="max-width: 20rem; color: black">
        <div class="card-header" style="font-family: 'Bodoni MT Black'; font-size: 25px">Find Us</div>
        <div class="card-body">
          <p>Shop online for Home décor and furnishing, including bedding, rugs and mats, kitchenware, curtains, lamps,
            paintings, and more. This will help you set up your home the way you envisioned, conveniently from your home.
            Call Now....</p>
          <i class="fa fa-phone">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+ 112 234 566 </i><br>
          <i class="fa fa-map-marker">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TownHall, Colombo 02</i>
          <i class=" fa fa-search">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="www.cottoncollection.com">www.cottoncollection.com</a></i>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
  $('.dropdown-menu').css("display","none");
  $(".dropdown-toggle").mouseover(function() {
    $('.dropdown-menu').css("display","inline");
  }).mouseout(function() {
    $('.dropdown-menu').css("display","none");
  });;

</script>
