<div class="first-nav">
  <div id="header-top-second"  class="clearfix">
    <div class="header-top-dropdown text-right">
      <!--<div class="btn-group">-->
        <!--<a routerLink="/sign-up" href="#" class="btn btn-default btn-sm"><i class="fa fa-user">&nbsp;&nbsp;&nbsp; Sign Up</i></a>-->
      <!--</div>-->
      <div class="btn-group">
        <a routerLink="/login" href="#" class="btn btn-default btn-sm"><i class="fa fa-user">&nbsp;&nbsp;&nbsp; Admin</i></a>
      </div>
    </div>
  </div>
</div>
<div class="third-nav">
  <div class="header-top-dropdown text-right">
    <div class="btn-group">
      <a routerLink="/main/gallery" href="#" class="btn btn-default btn-sm">Gallery</a>
      <a routerLink="/main/contact" href="#" class="btn btn-default btn-sm">Contact</a>
      <!--<a routerLink="/main/uploadImage" href="#" class="btn btn-default btn-sm">uploadImage</a>-->
    </div>
  </div>
</div>
<br>
<div class="container">
      <div class="item">
        <img src="assets/images/banners/bgimg12.jpg" alt="Chicago" style="width:100%; height: 400px;">
      </div>
</div>

<br>
<p style="text-align: center; color:lightslategrey; font-size:40px; font-family: kaputadotcom">View With Gallery</p> <br>
<div class="row">
    <div class="card-body">
      <a routerLink="/main/gallery" routerLinkAcive="active" href="#"><img src="assets/images/img10.jpg" width="250px" height="250px"></a>
    </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card-body">
      <a routerLink="/main/gallery" routerLinkAcive="active" href="#" ><img src="assets/images/img9.jpg" width="250px" height="250px"></a>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="card-body">
      <a routerLink="/main/gallery" routerLinkAcive="active" href="#" > <img src="assets/images/img11.jpg" width="250px" height="250px"></a>
    </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="card-body">
      <a routerLink="/main/gallery" routerLinkAcive="active" href="#" ><img src="assets/images/img12.png" width="250px" height="250px"></a>
    </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </div>
<br>
<!--<a target="_blank" href="assets/images/img12.png">-->
  <!--<img src="assets/images/img12.png" alt="Forest" style="width:150px">-->
<!--</a>-->
<img src="assets/images/banner.jpg" width="1495px" height="400px">
<br>
<br>



 <div class="row" >
        <!-- Tab panes -->
        <div class="tab-content clear-style">
          <div class="tab-pane active" id="pill-1">
            <div class="row grid-space-3">

              <div class="col-lg-3 col-md-6">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="card-body">
                    <img src="assets/images/gallery/img1.jpg" alt="" width="280px" height="330px">
                    <a class="overlay-link popup-img-single" href="assets/images/gallery/img1.jpg"><i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a routerLink="/main/aside-common" routerLinkAcive="active" href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                      <br>
                      <span class="price"><del>900.00</del>  700.00</span>
                      <a routerLink="/main/cart" href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <div class="col-lg-3 col-md-6">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="card-body">
                    <img src="assets/images/gallery/img2.jpg" alt="" width="280px" height="330px">
                   <a class="overlay-link popup-img-single" href="assets/images/gallery/img2.jpg"><i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a routerLink="/main/aside-common" routerLinkAcive="active" href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span><br>
                      <span class="price"><del>800.00</del>  650.00</span>
                      <a routerLink="/main/cart" href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>

                    </div>
                  </div>
                </div>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <div class="col-lg-3 col-md-6">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="card-body">
                    <img src="assets/images/gallery/img3.jpg" alt="" width="280px" height="330px">
                    <a class="overlay-link popup-img-single" href="assets/images/gallery/img3.jpg"><i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a routerLink="/main/aside-common" routerLinkAcive="active" href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span><br>
                      <span class="price"><del>1500.00</del>  1250.00</span>
                      <a routerLink="/main/cart" href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <div class="col-lg-3 col-md-6">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="card-body">
                    <img src="assets/images/gallery/img4.jpg" alt="" width="280px" height="330px">
                    <a class="overlay-link popup-img-single" href="assets/images/gallery/img4.jpg"><i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a routerLink="/main/aside-common" routerLinkAcive="active" href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span><br>
                      <span class="price"><del>1200.00</del>  990.00</span>
                      <a routerLink="/main/cart" href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                  </div>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="col-lg-3 col-md-6">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="card-body">
                    <img src="assets/images/gallery/img5.jpg" alt="" width="280px" height="330px">
                    <a class="overlay-link popup-img-single" href="assets/images/gallery/img5.jpg"><i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a routerLink="/main/aside-common" routerLinkAcive="active" href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span><br>
                      <span class="price"><del>1000.00</del>  900.00</span>
                      <a routerLink="/main/cart" href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                 </div>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <div class="col-lg-3 col-md-6">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="card-body">
                    <img src="assets/images/gallery/trousers/img1.jpg" alt="" width="280px" height="330px">
                    <a class="overlay-link popup-img-single" href="assets/images/gallery/trousers/img1.jpg"><i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a routerLink="/main/aside-common" routerLinkAcive="active" href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span><br>
                      <span class="price"><del>1500.00</del>  1300.00</span>
                      <a routerLink="/main/cart" href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <div class="col-lg-3 col-md-6">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="card-body">
                    <img src="assets/images/gallery/kurta/im1.jpg" alt="" width="280px" height="330px">
                    <a class="overlay-link popup-img-single" href="assets/images/gallery/kurta/im1.jpg"><i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a routerLink="/main/aside-common" routerLinkAcive="active" href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span><br>
                      <span class="price"><del>1680.00</del>  1500.00</span>
                      <a routerLink="/main/cart" href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="col-lg-3 col-md-6">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="card-body">
                    <img src="assets/images/img11.jpg" alt="" width="280px" height="330px">
                    <a class="overlay-link popup-img-single" href="images/product-8.jpg"><i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a routerLink="/main/aside-common" routerLinkAcive="active" href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span><br>
                      <span class="price"><del>1600.00</del>  1500.00</span>
                      <a routerLink="/main/cart" href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <div class="col-lg-3 col-md-6">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="card-body">
                    <img src="assets/images/gallery/sarees/img1.jpg" alt="" width="280px" height="330px">
                    <a class="overlay-link popup-img-single" href="assets/images/gallery/sarees/img1.jpg"><i class="fa fa-search-plus"></i></a>
                    <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <a routerLink="/main/aside-common" routerLinkAcive="active" href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span><br>
                      <span class="price"><del>1900.00</del>  1850.00</span>
                      <a routerLink="/main/cart" href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
 </div>

<br>
<img src="assets/images/banners/bgimg8.jpg" width="1495px" height="400px">
<br>
<br>
