<div class="first-nav">
  <div id="header-top-second"  class="clearfix">
    <div class="header-top-dropdown text-right">
      <!--<div class="btn-group">-->
        <!--<a routerLink="/sign-up" routerLinkActive="active" href="#" class="btn btn-default btn-sm"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp; Sign Up</a>-->
      <!--</div>-->
      <div class="btn-group">
        <a routerLink="/login" routerLinkActive="active"  href="#" class="btn btn-default btn-sm"><i class="fa fa-user">&nbsp;&nbsp;&nbsp; Log In</i></a>
      </div>
      <div class="btn-group">
        <a routerLink="/main/dashboard" routerLinkActive="active"  href="#" class="btn btn-default btn-sm"><i class="fa fa-user">&nbsp;&nbsp;&nbsp; Log Out</i></a>
      </div>
    </div>
  </div>
</div>
<div class="third-nav">
  <div class="header-top-dropdown text-right">
    <div class="btn-group">
      <a routerLink="/main/gallery" href="#" class="btn btn-default btn-sm">Gallery</a>
      <a routerLink="/main/cart-orders" href="#" class="btn btn-default btn-sm">View-CartOrders</a>
      <a routerLink="/main/view-customer" href="#" class="btn btn-default btn-sm">View Customer</a>
      <a routerLink="/main/category-management" href="#" class="btn btn-default btn-sm">Add Category</a>
      <a routerLink="/main/admin-contact" href="#" class="btn btn-default btn-sm">Contact</a>
    </div>
  </div>
</div>
<br>


