<div class="first-nav">
  <div id="header-top-second"  class="clearfix">
    <div class="header-top-dropdown text-right">
      <!--<div class="btn-group">-->
        <!--<a routerLink="/sign-up" routerLinkActive="active" href="#" class="btn btn-default btn-sm"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp; Sign Up</a>-->
      <!--</div>-->
      <div class="btn-group">
        <a routerLink="/login" routerLinkActive="active"  href="#" class="btn btn-default btn-sm"><i class="fa fa-user">&nbsp;&nbsp;&nbsp; Log In</i></a>
      </div>
      <div class="btn-group">
        <a routerLink="/main/dashboard" routerLinkActive="active"  href="#" class="btn btn-default btn-sm"><i class="fa fa-user">&nbsp;&nbsp;&nbsp; Log Out</i></a>
      </div>
    </div>
  </div>
</div>
<div class="third-nav">
  <div class="header-top-dropdown text-right">
    <div class="btn-group">
      <a routerLink="/main/gallery" href="#" class="btn btn-default btn-sm">Gallery</a>
      <a routerLink="/main/cart-orders" href="#" class="btn btn-default btn-sm">View-CartOrders</a>
      <a routerLink="/main/view-customer" href="#" class="btn btn-default btn-sm">View Customer</a>
      <a routerLink="/main/category-management" href="#" class="btn btn-default btn-sm">Add Category</a>
      <a routerLink="/main/admin-contact" href="#" class="btn btn-default btn-sm">Contact</a>
    </div>
  </div>
</div>
<br>
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Customer View Data</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Customer Id</th>
              <th>Customer Name</th>
              <th>E-Mail</th>
              <th>Address</th>
              <th>Age</th>
              <th>Contact Number</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers  | paginate: { itemsPerPage: 15, currentPage: p } "
                (click)="selectedCustomer(customer)" [class.selected]="customer==selectedCustomer">
              <td>{{customer.custId}}</td>
              <td>{{customer.custName}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.age}}</td>
              <td>{{customer.contactNo}}</td>
              <td>
                <i (click)="deleteCustomer(customer)" class="fa fa-trash fa-1x"></i>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="7">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
